* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainart {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-position: center;
  backdrop-filter: blur(6px);
}
.mainart__1 {
  height: 100vh;
  z-index: 0;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
}
.mainart__2 {
  font-size: 21vw;
  font-weight: 700;
  color: rgba(23, 151, 123, 0.925);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
  position: absolute;
}
.secart {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secart__rec {
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(151, 149, 149, 0.836);
  margin-top: 20px;
  align-items: start;
  width: 80%;
  height: 100%;
}
.nav {
  width: 100vw;
  height: 70px;
  display: flex;
  background-color: aliceblue;
  position: fixed;
  z-index: 3;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
}
.nav__img {
  margin-left: 50px;
  height: 50px;
  width: 100px;
  font-size: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(23, 151, 123, 0.925);
  display: flex;
  align-items: center;
}
.nav__text a {
  width: 500px;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  text-decoration: none;
}
.nav__text {
  width: 500px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav__search {
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: solid black;
}
.nav__search::placeholder {
  padding-left: 30px;
  padding-bottom: auto;
  padding-top: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.colmain {
  padding: 40px;
  min-height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.incol {
  width: 30%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black;
  border-radius: 50px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incolrec {
  width: 95%;
  height: 95%;
  background-color: rgba(119, 117, 117, 0.418);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(23, 151, 123, 0.925);
}
.incolrec:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.tables {
  display: flex;
  width: 100%;
  height: 150%;
  justify-content: center;
  margin-top: 10px;
}

.tables__table {
  width: 100%;
  height: 150%;

  border-collapse: collapse;
  padding: 0px;
}
.tables__table td {
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-right: solid black;
  /* border-bottom: solid black; */
}
.tables__table th {
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid black;
  border-radius: 10px;
}
.table__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 30px;
  background-color: rgba(23, 151, 123, 0.925);
  border-radius: 10px;
}
.table__btn:hover {
  transition: 0.3s;
  border: solid rgba(23, 151, 123, 0.925);
  background-color: aliceblue;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#losser {
  border-bottom: solid black;
}
/* .tables__table::tr::nth-last-child {
  border-bottom: solid black;
} */
.foot {
  display: flex;
  align-items: start;
  width: 100vw;
  height: 200px;
  margin-top: 20px;
  background-color: black;
}
.footrec {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}
.footcont {
  width: 40%;
  height: 80%;
  margin-left: 40px;
}
.footcont p {
  padding-top: 10px;

  font-size: 18px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: beige;
}
#conr {
  padding-left: 30px;
  font-size: 23px;
}
/* .footimg {
  width: 100%;
  height: 40%;
  border-radius: 50px;
}

.footimgrec {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
} */
/* .all {
  display: flex;
  align-items: center;
  row-gap: 10px;
} */
